
:root {
  --foreground: #ffffff;
  --background: linear-gradient(to bottom right, #282c43, #1e2033);
  --background2: linear-gradient(to bottom right, #282c43, #1e2033, .25);
  --selection-foreground: #1E1E2E;
  --selection-background: #F5E0DC;
  --accent-color: #B4BEFE;
  --text-color: #6C7086;
  --highlight-color: #F9E2AF;
  --primary-color: #74C7EC;
  --dark-background: #45475A;
  --dark-text: #585B70;
  --secondary-color: #F38BA8;
  --success-color: #A6E3A1;
  --warning-color: #F9E2AF;
  --info-color: #89B4FA;
  --error-color: #F5C2E7;
  --light-success-color: #94E2D5;
  --light-background: #BAC2DE;
  --light-text: #A6ADC8;
  --dark-blue-pastel: #5C6B7A;
}

/* Extra small devices (phones, 600px and down) */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
      font-size: 14px;
  }
  .container {
      padding: 5px;
  }
}

/* Small devices (portrait tablets and large phones, 601px to 767px) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  body {
      font-size: 16px;
  }
  .container {
      padding: 10px;
  }
}

/* Medium devices (landscape tablets, 768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
      font-size: 18px;
  }
  .container {
      padding: 15px;
  }
}

/* Large devices (laptops/desktops, 992px to 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  body {
      font-size: 20px;
  }
  .container {
      padding: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
      font-size: 22px;
  }
  .container {
      padding: 25px;
  }
}

* {
  box-sizing: border-box;
}


html {
  background: var(--background2);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'SFNSMono Nerd Font', monospace;
  background: var(--background);
  color: var(--text-color);
}

h1 {
  font-size:25px;
  padding: 5px;
  margin:2%;
  color:white;
}
.glass-header a {
  color: var(--foreground);;
}

.glass-hero h1 {
  color: var(--foreground);
}

.glass-hero p {
  color: var(--foreground);
}

.btn {
  color: var(--foreground);
}

.btn:hover {
  background-color: var(--primary-color);
}

.glass-section {
  background: var(--background2);
}

.glass-section h2 {
  color: var(--foreground);
}

.glass-footer {
  background: linear-gradient(to bottom right, #282c43, #1e2033, 0.25);
}

.glass-footer p {
  color: var(--foreground);
}

.glass-footer a {
  background: rgba(33, 97, 140, 0.5);
}

.glass-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.glass-header li {
  margin-right: 20px;
}

.glass-hero {
  backdrop-filter: blur(10px);
  padding: 100px 20px;
  text-align: center;
  margin-top: 80px;
}

.glass-hero p {
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--foreground);
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--primary-color);
}

.glass-section {
  background: linear-gradient(to bottom right, #282c43, #1e2033, 0.25);
  backdrop-filter: blur(10px);
  padding: 40px 20px;
  margin-bottom: 40px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.glass-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--foreground);
}

.glass-footer {
  background: linear-gradient(to bottom right, #282c43, #1e2033, 0.25);
  backdrop-filter: blur(10px);
  padding: 20px;
  bottom: 0;
  z-index: 1;
}

.glass-footer p {
  margin: 0;
  font-size: 14px;
  color: var(--foreground);
}

.glass-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.glass-footer li {
  margin-left: 20px;
}

.glass-footer a {
  background: linear-gradient(to bottom right, #282c43, #1e2033, 0.25);
  text-decoration: none;
  color: var(--foreground);
  padding: 5px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.glass-footer a:hover {
  background: linear-gradient(to bottom right, #282c43, #1e2033, 0.25);
}

.glass-footer svg {
  width: 20px;
  height: 20px
}

.pClassSpan {
  font-size: 11px;
  font-weight: lighter;
}